/*Basic style settings*/

body {
    font-family: "Montserrat", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: gray;
}

a{
    color: #00bd56;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus{
    color:#00bd56;
    text-decoration: none;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    font-weight: 400;
}

.wrap{
    position: relative;
    z-index: 0;
    width: 100%;
    background: #00bd56;
    background: #207dff;
    background: linear-gradient(to right, #207dff, #009cff, #00afe1, #00b99d, #00bd55);
    /*background: -moz-linear-gradient(45deg, #207dff, );*/


}

.wrap .phone{
    z-index: 1;
}

.wrap .phone i{
    color: #fff;
}

.wrap .phone a{
    color: #fff;
    font-size: 12px;
}

.social-media{
    display: inline-block;
    /*background-color: pink;*/
}

.social-media p a{
    width: 40px;
    height: 40px;
    margin-right: 1px;
}

.social-media p a span{
    color: #fff;
}

.social-media p a:hover {
    background-color: #00bd56;
    border-color: #00bd56;
}

.social-media p a:hover span{
    color: #fff;
}